/GiaoDien/Cau1/nbproject/private/
/GiaoDien/Cau1/build/
/GiaoDien/Cau2/nbproject/private/
/GiaoDien/Cau2/build/
/Nhom cau thao tac csdl/Cau1/nbproject/private/
/Nhom cau thao tac csdl/Cau1/build/
/Nhom cau thao tac csdl/Cau4/nbproject/private/
/Nhom cau thao tac csdl/Cau2/nbproject/private/
/Nhom cau thao tac csdl/Cau2/build/